<div class="side_bar">
  <div class="img"></div>
  <p>Ahmed</p>
  <ul>
    <li>
      <i class="fa fa-home"></i>
      <span>Home</span>
    </li>
    <li>
      <i class="fa fa-dollar"></i>
      <span>Payroll</span>
    </li>
    <li>
      <i class="fa fa-file-text-o"></i>
      <span>My Payslip</span>
    </li>
    <li>
      <i class="fa fa-bars"></i>
      <span>My Loans</span>
    </li>
    <li>
      <i class="fa fa-user-o"></i>
      <span>My Profile</span>
    </li>
    <li>
      <i class="fa fa-pie-chart"></i>
      <span>Reports</span>
    </li>
    <li>
      <i class="fa fa-gear"></i>
      <span>Settings</span>
    </li>
  </ul>
  <div class="social">
    <button>Contact</button>
    <div class="contact">
      <i class="fa fa-phone"></i>
      <div class="icons">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-facebook"></i>
      </div>
    </div>
  </div>
</div>
